# .gitignore ducquoc Java (Maven, IDEA, Eclipse, NetBeans, JDev, MTJ, BlueJ, log, temp, OS, ...)
target/
*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
nb-configuration.xml
nbactions.xml
*.jpr
*.jws
.adf/
.data/
*.ctxt
.mtj.tmp/
build/
dist/
*.log
*.swp
*.lock
*.out
*.so
.DS_Store
Thumbs.db
